# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual Environment ---
.venv/
env/
venv/

# --- System ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Data files ---
data/*
!data/.gitkeep  # Struktur beibehalten, aber große CSVs auslassen

# --- Output ---
output/*
!output/.gitkeep
!output/*.png    # <- PNG-Bilder behalten (für README)

# --- Git / Docker ---
.git/
.gitignore
.dockerignore

# --- Editor ---
.vscode/
.idea/